.nav-container {
    display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
  width: 100%;
  height: 9vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-links {
  display: flex;
  gap: 2rem;
}

.menu-links span {
  color: var(--light);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.25s;
}

.menu-links span:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  i{
    margin-right: 0.5rem;
  }
}


